@use '../utils' as *;

/*----------------------------------------*/
/*  00. FOOTER CSS START
/*----------------------------------------*/

.footer{
    &__widget{
        &-title{
            font-size: 22px;
            color: var(--tp-common-black);
            margin-bottom: 20px;
        }
        & ul{
            & li{
                list-style: none;
                a{
                    font-size: 14px;
                    color: var(--tp-text-1);
                }
            }
        }
    }
}